body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06102a;
}


.situacao-paga {
  background-color: green;
  color: white;
}

.situacao-vencida {
  background-color: black;
  color: white;
}

.situacao-pendente {
  background-color: #e10b0b; /* Variedade no hover */
  color: white;
}

.situacao-pendente:hover {
  background-color: red;
  color: white;
}

.situacao-paga {
  background-color: green;
  color: white;
}

.situacao-paga:hover {
  background-color: darkgreen; /* Variedade no hover */
  color: white;
}

.situacao-vencida {
  background-color: black;
  color: white;
}

.situacao-vencida:hover {
  background-color: #7a0000; /* Variedade no hover */
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tituloPesquisa{
  color: #dacbcb;
  font-weight: 700;
  font-size: 20px;
}

.colorWhite{
  color: white;
}

.introducao{
  width: 80%;
}